<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= root_path %>">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Proyecto</li>
  </ol>
</nav>

<h1> EDITAR TAREA </h1>

<%= render 'form' %>

<%= link_to 'Eliminar', task_path(@task), method: :delete, data: {confirm: '¿Quieres eliminarlo?' } %>

<p style="color:red;"> Al actualizar las tareas no hace el redirect_back, continúa en la vista de editar </p>
